@import 'normalize.scss';
@import 'global.scss';
@import 'variables.scss';
@import 'posts.scss';

.site-header {
  background-color: $gray-tar;
  color: $white;
  padding: 32px 0;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    margin: 0;
    font-size: 42px;
    font-weight: 600;
  }

  &__description {
    font-size: 14px;
    margin-top: 8px;
    color: $gray-light;
  }
}

.wrapper {
  background-color: $gray-asphalt;
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.main-nav,
.main-content,
.main-footer {
  max-width: 1200px;
  width: 100%;
  padding: 40px 16px;

  @media (min-width: $breakpoint-up-sm) {
    padding: 40px 32px;
  }
}

.main-nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: $gray-tar;
}

.main-nav {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }
}

.main-content--section {
  padding-top: 56px;
}

.main-footer {
  color: $gray-light;
  position: relative;
  padding-top: 20px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;

  a:first-of-type {
    margin-left: 0;
  }

  a {
    margin-left: 8px;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  nav {
    display: flex;
  }
}

.main-footer-container {
  background-color: $gray-tar;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
}

.social-link {
  svg {
    width: 48px;
    height: 48px;
    fill: $gray-medium;
  }

  &:hover {
    svg {
      fill: $gray-light;
    }
  }
}

.page-content {
  max-width: 640px;
  width: 100%;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: auto;

  strong,
  em {
    color: white;
  }

  blockquote {
    border-left: 3px solid #cd74e8;
    font-style: italic;
    margin: 0;
    margin-bottom: 24px;
    padding: 0 24px;
  }

  pre {
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto;
  }

  code {
    font-size: 16px;
  }

  code:not([class]) {
    color: #cd74e8;
    background-color: #2b303b;
  }
}

.page-description {
  padding-bottom: 24px;
  border-bottom: 1px solid $gray-medium;
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.page-image {
  margin-top: 36px;
}
